@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #199B74;
  --secondary: #E5B141;
  --background: #DBD9D5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
